<section class="content-wrap">
  <div class="youplay-banner banner-top xsmall">
    <div class="image" style="background-image: url(images/dashboardPanel.jpg)" data-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;">
    </div>

    <div class="info" data-top="opacity: 1; transform: translate3d(0px,0px,0px);" data-top-bottom="opacity: 0; transform: translate3d(0px,150px,0px);" data-anchor-target=".youplay-banner.banner-top">
      <div>
        <div class="container">
          <h2>Panel de Control</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container youplay-content" style="margin-top:0;">
  	<h2 class="h1">Servidores</h2>
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Panel</th>
            <th>Juego</th>
            <th>IP</th>
			<th>Puerto</th>
			<th>Status</th>
			<th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
  </div>


</section>
