<section class="content-wrap">
  <div class="youplay-banner banner-top xsmall">
    <div class="image" style="background-image: url(images/dashboardPanel.jpg)" data-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;">
    </div>

    <div class="info" data-top="opacity: 1; transform: translate3d(0px,0px,0px);" data-top-bottom="opacity: 0; transform: translate3d(0px,150px,0px);" data-anchor-target=".youplay-banner.banner-top">
      <div>
        <div class="container">
          <h2>Panel de Control</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container youplay-content" style="margin-top:0;">
  	<h2 class="h1">Servidores <a ng-click="openCreateModal()" class="btn pull-right">Nuevo servidor</a></h2>
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Panel</th>
            <th>Juego</th>
            <th>IP</th>
      			<th>Puerto</th>
      			<th>Status</th>
      			<th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="server in servers"> <!-- NG REPEAT -->
            <th scope="row">{{server.name}}</th>
            <td><span class="label label-success">{{server.ready}}</span></td>
            <td>
              {{server.game}}
            </td>
            <td>192.168.1.123</td>
            <td>{{server.port}}</td>
            <td><span class="label label-info">Detenido</span></td>
            <td><a href="#/server/10" class="btn btn-success btn-xs">Panel</a>
            <a href="#!" class="btn btn-xs">Editar</a>
            <a ng-click="delete(server)" class="btn btn-danger btn-xs">Eliminar</a></td>
          </tr>
        </tbody>
      </table>
  </div>


</section>
