<form ng-submit="login()" name="registerForm">
  <md-input-container>
    <label>Correo Electronico</label>
    <input name="email" type="email" ng-model="user.email" required/>
    <div ng-message="registerForm.email.$error" ng-if="!registerForm.email.$dirty">
      <div ng-message="required">
        Olvidaste introducir tu correo electronico.
      </div>
      <div ng-message="email">
        El formato del correo electronico es incorrecto.
      </div>
    </div>
  </md-input-container>
  <md-input-container>
    <label>Contraseña</label>
    <input name="password" type="password" ng-model="user.password" required />
    <div ng-message="registerForm.password.$error" ng-if="registerForm.password.$dirty">
      <div ng-message="required">
        Olvidaste tu contraseña.
      </div>
    </div>
  </md-input-container>
  <md-button type="submit" class="md-primary btn btn-primary">Iniciar Sesion</md-button>
</form>
