<section class="content-wrap">
<!-- Banner -->
<div class="youplay-banner banner-top small">
  <div class="image" ng-style="{'background-image': 'url(images/minecraftBanner.jpg)'}" data-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;">
  </div>

  <div class="info" data-top="opacity: 1; transform: translate3d(0px,0px,0px);" data-top-bottom="opacity: 0; transform: translate3d(0px,150px,0px);" data-anchor-target=".youplay-banner.banner-top">
    <div>
      <div class="container youplay-user">
        <div class="angled-img">
          <div class="img">
            <img src="images/minecraft2.png" alt="">
          </div>
        </div>
        <!--
                -->
        <div class="user-data">
          <h2>Shominecraftr422</h2>
          <div class="location"><i class="fa fa-gamepad"></i> Minecraft</div>
          <div class="activity">
            <div>
              <div class="num">192.168.1.234</div>
              <div class="title">IP</div>
            </div>
            <div>
              <div class="num">90041</div>
              <div class="title">Puerto</div>
            </div>
            <div>
              <div class="num"><span class="label label-success">Activo</span></div>
              <div class="title">Estado</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Banner -->
<div class="container youplay-content">
  <div class="row" style="margin-top:.5em;">
  <div class="card">
  <uib-tabset>
    <uib-tab heading="Resumen">
      <div class="row">
        <div class="col-md-6">
          <div class="angled-bg">
            <div class="angled-title">Panel heading without title</div>
            <div class="angleg-content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="angled-bg">
          <div class="angled-title">Panel heading without title</div>
          <div class="angleg-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div></div>
      </div>

    </uib-tab>
    <uib-tab heading="Archivos">
      Archivos
    </uib-tab>
    <uib-tab heading="Consola">
      Consola
    </uib-tab>
  </uib-tabset>
  </div>
  <div>
</div>
</div>
