<!DOCTYPE html>
<html ng-app="KLSAdmin">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Kaos Latin Servers Administration</title>
		<meta name="description" content="Administracion KLS">
		<!-- Viewport mobile tag for sensible mobile support -->
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    	<!--
        	Stylesheets and Preprocessors
       		==============================

        	You can always bring in CSS files manually with `<link>` tags, or asynchronously
        	using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        	of Sails' conventional asset pipeline (boilerplate Gruntfile).

        	By default, stylesheets from your `assets/styles` folder are included
        	here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        	are supported. In production, your styles will be minified and concatenated into
        	a single file.

        	To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        	For example, here are a few things you could do:

            	+ Change the order of your CSS files
            	+ Import stylesheets from other directories
            	+ Use a different or additional preprocessor, like SASS, SCSS or Stylus
    		-->
    	<!-- Icon -->
    		<link rel="icon" type="image/png" href="/images/icon.png">
	

    	<!-- Google Fonts -->
    	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
		<!--STYLES_ADMIN-->
		<link rel="stylesheet" href="/styles/bootstrap.min.css">
		<link rel="stylesheet" href="/admin/styles/metisMenu.min.css">
		<link rel="stylesheet" href="/admin/styles/sb-admin-2.css">
		<link rel="stylesheet" href="/styles/font-awesome.min.css">
		<link rel="stylesheet" href="/admin/styles/angular-material.min.css">
		<link rel="stylesheet" href="/admin/styles/styles.css">
		<!--STYLES_ADMIN END-->
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
	<body>
		<%- body %>
		<!--SCRIPTS_ADMIN-->
		<script src="/js/dependencies/sails.io.js"></script>
		<script src="/js/dependencies/jquery.min.js"></script>
		<script src="/js/dependencies/bootstrap.min.js"></script>
		<script src="/js/dependencies/angular.min.js"></script>
		<script src="/js/dependencies/angular-sails.min.js"></script>
		<script src="/js/dependencies/angular-ui-router.js"></script>
		<script src="/js/dependencies/angular-animate.min.js"></script>
		<script src="/js/dependencies/angular-aria.min.js"></script>
		<script src="/js/dependencies/angular-messages.js"></script>
		<script src="/js/dependencies/ui-bootstrap.min.js"></script>
		<script src="/admin/js/dependencies/metisMenu.min.js"></script>
		<script src="/admin/js/dependencies/sb-admin-2.js"></script>
		<script src="/admin/js/dependencies/angular-material.min.js"></script>
		<script src="/admin/js/app.js"></script>
		<script src="/admin/js/Navigation/NavigationController.js"></script>
		<script src="/admin/js/Navigation/NavigationService.js"></script>
		<script src="/admin/js/routes.js"></script>
		<!--SCRIPTS_ADMIN END-->
		<!--TEMPLATES_ADMIN-->
		<script type="text/javascript" src="/adminTemplates.js"></script>
		<!--TEMPLATES_ADMIN END-->
	</body>
</html>