<div ng-controller="NavCtrl">
  <md-toolbar class"md-whiteframe-z1" md-scroll-shrink layout="row">
    <div class="md-toolbar-tools">
      <h1>KLG Server</h1>
    </div>
    <span flex></span>
    <md-button class="md-secundary" href="./#/register">Registrarse</md-button>
    <md-button class="md-secundary" href="./#/login">Iniciar Sesion</md-button>
  </md-toolbar>
  <md-content class="md-padding">
    <div layout="row" layout-align="center">
      <div flex="55">
        <div ui-view></div>
      </div>
    </div>

  </md-content>

</div>
