<my-app>Loading...</my-app>

<!-- Preloader
<div show-during-resolve class="page-preloader preloader-wrapp">
  <img src="/images/logo.png" alt="" />
  <div class="preloader"></div>
</div>
<! /Preloader -->

<!-- Navbar
<nav class="navbar-youplay navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl as vm">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="off-canvas" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Mostrar Navegacion</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/" class="navbar-brand">
        <img src="/images/logo.png" alt="" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown dropdown-hover">
          <a href="#!" class="dropdown-toggle" role="button" aria-expanded="false">
            Servidores <span class="caret"></span> <span class="label">tienda</span>
          </a>
          <div class="dropdown-menu" style="width:320px;">
            <ul role="menu">
              <li><a href="">Counter Strike Global Offensive</a></li>
              <li><a href="">Counter Strike 1.6</a></li>
              <li><a href="">Minecraft</a></li>
              <li><a href="">Teamspeak 3</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="">Soporte  <span class="label">tecnico</span></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="vm.auth.isAutenticated()" class="dropdown dropdown-hover">
          <a href="#!" class="dropdown-toggle" role="button" aria-expanded="false">
            {{vm.currentUser.name}} <span class="badge bg-default">0</span> <span class="caret"></span> <span class="label">{{vm.currentUser.email}}</span>
          </a>
          <div class="dropdown-menu">
            <ul role="menu">
              <li><a href="#/dashboard">Panel de Control</a></li>
              <li><a href="#/dashboard">Configuración</a></li>
              <li class="divider"></li>
              <li><a ng-click="vm.logout()">Cerrar sesion</a></li>
            </ul>
          </div>
        </li>
        <li ng-hide="vm.auth.isAutenticated()"><a href="#/register">Registrarse</a></li>
        <li ng-hide="vm.auth.isAutenticated()"><a href="#/login">Iniciar sesion</a></li>
      </ul>
    </div>
  </div>

</nav>

<div ui-view></div>


<!-- Footer -
<footer>
  <div class="wrapper" style="background-image: url(/images/csgoBanner.jpg)" data-bottom="transform:translate3d(0px,0px,0px);" data-bottom-top="transform:translate3d(0px,-200px,0px);" data-anchor-target="footer">

    <!-- Social Buttons
    <div class="social">
      <div class="container" data-bottom-top="opacity: 0;" data-bottom="opacity: 1;">
        <h3>Siguenos en nuestras <strong>redes sociales</strong></h3>

        <div class="row icons">
          <div class="col-xs-6 col-sm-3">
            <a href="#!">
              <i class="fa fa-facebook-square"></i>
              <span>Like on Facebook</span>
            </a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a href="#!">
              <i class="fa fa-twitter-square"></i>
              <span>Follow on Twitter</span>
            </a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a href="#!">
              <i class="fa fa-twitch"></i>
              <span>Watch on Twitch</span>
            </a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a href="#!">
              <i class="fa fa-youtube-square"></i>
              <span>Watch on Youtube</span>
            </a>
          </div>
        </div>

      </div>
    </div>
    <!-- /Social Buttons -->

    <!-- Copyright
    <div class="copyright">
      <div class="container">
        <strong>Kaos Latin Servers</strong> &copy; 2015. Todos los derechos reservados.
      </div>
    </div>
    <!-- /Copyright

  </div>
</footer>
<!-- /Footer -->


  <!-- /Main Content -->
<!--<div ng-controller="NavCtrl">
  <md-toolbar class"md-whiteframe-z1" md-scroll-shrink layout="row">
    <div class="md-toolbar-tools">
      <a href="#/"><h1>KLG Server</h1></a>
    </div>
    <md-button ng-show="auth.isAuthenticated()" class="md-secundary" href="./#/servers">Servidores</md-button>
    <span flex="65"></span>
    <md-button ng-hide="auth.isAuthenticated()" class="md-secundary" href="./#/register">Registrarse</md-button>
    <md-button ng-hide="auth.isAuthenticated()" class="md-secundary" href="./#/login">Iniciar Sesion</md-button>
    <h6 ng-show="auth.isAuthenticated()">Hola, <strong>{{currentUser().email}}</strong></h6>
    <md-button ng-show="auth.isAuthenticated()" class="md-secundary" ng-click="logout()">Cerrar Sesion</md-button>
  </md-toolbar>
  <md-content class="md-padding">
    <div layout="row" layout-align="center">
      <div flex="55">
        <div ui-view></div>
      </div>
    </div>

  </md-content>

</div> -->
