<div class="modal-header">
  <h3 class="modal-title">Crear Nuevo Servidor</h3>
</div>
<div class="modal-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, veritatis recusandae consequatur. Tenetur praesentium qui nam ipsam delectus neque velit blanditiis, non, dignissimos eum sunt illum optio reiciendis quasi iusto?
</div>
<div class="modal-footer">
  <button class="btn" type="button" ng-click="ok()"> Crear </button>
  <button class="btn" type="button" ng-click="cancel()"> Cancelar </button> 
</div>
