<div class="modal-header">
  <h3 class="modal-title">Crear Nuevo Servidor</h3>
</div>
<div class="modal-body">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  <p>Selecciona el servidor:</p>
  <label class="youplay-select">
    <select ng-model="server.game" name="game">
      <option ng-repeat="server in avaliableServers" value="{{server.server}}">{{server.display}}</option>
    </select>
  </label>
  <div ng-if="server.game == 'minecraft'">
  <p >
    Selecciona el tipo se servidor
  </p>
  <label class="youplay-select" ng-if="server.game == 'minecraft'">
    <select ng-model="server.game_type" name="game_type">
      <option ng-repeat="type in gameTypeMinecraft" value="{{type.gameType}}">{{type.display}}</option>
    </select>
  </label>
  </div>
  <p>
    Numero de Jugadores <!-- Investigar el numero de jugadores --->
    <div class="youplay-input">
      <input type="text" ng-model="server.num_player" name="num_player" placeholder="Introdusca el numero de jugadores">
    </div>
  </p>
</div>
<div class="modal-footer">
  <button class="btn" type="button" ng-click="ok()"> Crear </button>
  <button class="btn" type="button" ng-click="cancel()"> Cancelar </button>
</div>
