<div class="tp-banner-container rs-youplay rs-fullscreen">
  <div class="tp-banner">
    <ul>
      <li data-thumb="images/csgoBanner.jpg" data-saveperformance="on" data-transition="random-static" data-slotamount="7" data-masterspeed="700">
                    <img src="images/dummy.png" alt="" data-lazyload="images/csgoBanner.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
      </li>
      <li data-thumb="images/minecraftBanner.jpg" data-saveperformance="on" data-transition="random-static" data-slotamount="7" data-masterspeed="700">
                    <img src="images/dummy.png" alt="" data-lazyload="images/minecraftBanner.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
      </li>
      <li data-thumb="images/cs16Banner.jpg" data-saveperformance="on" data-transition="random-static" data-slotamount="7" data-masterspeed="700">
                    <img src="images/dummy.png" alt="" data-lazyload="images/cs16Banner.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
      </li>
    </ul>
    <div class="tp-bannertimer"></div>
  </div>
</div>
