<div class="youplay-carousel">
  <a class="angled-img" href="#!">
    <div class="img">
      <img src="images/minecraftServerBack.jpg" alt="">
    </div>
    <div class="over-info">
      <div>
        <div>
          <h4>Kingdoms of Amalur: Reckoning</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a class="angled-img" href="#!">
    <div class="img">
      <img src="images/minecraftServerBack.jpg" alt="">
    </div>
    <div class="over-info">
      <div>
        <div>
          <h4>The Witcher: Rise of the White Wolf</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a class="angled-img" href="#!">
    <div class="img">
      <img src="images/minecraftServerBack.jpg" alt="">
    </div>
    <div class="over-info">
      <div>
        <div>
          <h4>Diablo III: Reaper of Souls</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a class="angled-img" href="#!">
    <div class="img">
      <img src="images/minecraftServerBack.jpg" alt="">
    </div>
    <div class="over-info">
      <div>
        <div>
          <h4>Dragons Dogma</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
