<!-- Main Content -->
<section class="content-wrap">

  <!-- Banner -->
  <div class="youplay-banner banner-top small">
    <div class="image" style="background-image: url(/images/csgoBanner.jpg)" data-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;">
    </div>

    <div class="info" data-top="opacity: 1; transform: translate3d(0px,0px,0px);" data-top-bottom="opacity: 0; transform: translate3d(0px,150px,0px);" data-anchor-target=".youplay-banner.banner-top">
      <div>
        <div class="container">
          <h2>Blank Page</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- /Banner -->


  <div class="container youplay-content">

    <h2 class="mt-0">Title</h2>
    <p>
      Start your new page here...
    </p>

  </div>

  <!-- Footer -->
  <footer>
    <div class="wrapper" style="background-image: url(/images/csgoBanner.jpg)" data-bottom="transform:translate3d(0px,0px,0px);" data-bottom-top="transform:translate3d(0px,-200px,0px);" data-anchor-target="footer">

      <!-- Social Buttons -->
      <div class="social">
        <div class="container" data-bottom-top="opacity: 0;" data-bottom="opacity: 1;">
          <h3>Siguenos en nuestras <strong>redes sociales</strong></h3>

          <div class="row icons">
            <div class="col-xs-6 col-sm-3">
              <a href="#!">
                <i class="fa fa-facebook-square"></i>
                <span>Like on Facebook</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-3">
              <a href="#!">
                <i class="fa fa-twitter-square"></i>
                <span>Follow on Twitter</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-3">
              <a href="#!">
                <i class="fa fa-twitch"></i>
                <span>Watch on Twitch</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-3">
              <a href="#!">
                <i class="fa fa-youtube-square"></i>
                <span>Watch on Youtube</span>
              </a>
            </div>
          </div>

        </div>
      </div>
      <!-- /Social Buttons -->

      <!-- Copyright -->
      <div class="copyright">
        <div class="container">
          <strong>Kaos Latin Servers</strong> &copy; 2015. Todos los derechos reservados.
        </div>
      </div>
      <!-- /Copyright -->

    </div>
  </footer>
  <!-- /Footer -->

</section>
