<!-- Main Content -->
<section class="content-wrap">
  
  <div class="tp-banner-container rs-youplay">
    <div class="tp-banner">
      <ul>
        <li data-thumb="/images/csgoBanner.jpg" data-saveperformance="on" data-transition="random-static" data-slotamount="7" data-masterspeed="700">
                      <img src="/images/csgoBanner.jpg" alt="" data-lazyload="/images/csgoBanner.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
        </li>
        <li data-thumb="images/minecraftBanner.jpg" data-saveperformance="on" data-transition="random-static" data-slotamount="7" data-masterspeed="700">
                      <img src="/images/minecraftBanner.jpg" alt="" data-lazyload="/images/minecraftBanner.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
        </li>
        <li data-thumb="images/cs16Banner.jpg" data-saveperformance="on" data-transition="random-static" data-slotamount="7" data-masterspeed="700">
                      <img src="/images/csgoBanner.jpg" alt="" data-lazyload="images/cs16Banner.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
        </li>
      </ul>
      <div class="tp-bannertimer"></div>
    </div>
  </div>



  <div class="container youplay-content">

    <h2 class="mt-0">Title</h2>
    <p>
      Start your new page here...
    </p>

  </div>

  <!-- Footer -->
  <footer>
    <div class="wrapper" style="background-image: url(/images/csgoBanner.jpg)" data-bottom="transform:translate3d(0px,0px,0px);" data-bottom-top="transform:translate3d(0px,-200px,0px);" data-anchor-target="footer">

      <!-- Social Buttons -->
      <div class="social">
        <div class="container" data-bottom-top="opacity: 0;" data-bottom="opacity: 1;">
          <h3>Siguenos en nuestras <strong>redes sociales</strong></h3>

          <div class="row icons">
            <div class="col-xs-6 col-sm-3">
              <a href="#!">
                <i class="fa fa-facebook-square"></i>
                <span>Like on Facebook</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-3">
              <a href="#!">
                <i class="fa fa-twitter-square"></i>
                <span>Follow on Twitter</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-3">
              <a href="#!">
                <i class="fa fa-twitch"></i>
                <span>Watch on Twitch</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-3">
              <a href="#!">
                <i class="fa fa-youtube-square"></i>
                <span>Watch on Youtube</span>
              </a>
            </div>
          </div>

        </div>
      </div>
      <!-- /Social Buttons -->

      <!-- Copyright -->
      <div class="copyright">
        <div class="container">
          <strong>Kaos Latin Servers</strong> &copy; 2015. Todos los derechos reservados.
        </div>
      </div>
      <!-- /Copyright -->

    </div>
  </footer>
  <!-- /Footer -->
  <script>
    if(typeof youplay !== 'undefined') {
          youplay.init({
              smoothscroll: false,
          });
      }
  </script>

</section>
