<!-- Main Content -->
<section class="content-wrap">

  <tslider images="image"></tslider>


  <div class="container youplay-content" style="margin-top:0;">

    <!-- Minecraft Servers -->
    <h2 class="container h1">Minecraft <a href="#!" class="btn pull-right">Ver mas configuraciones</a></h2>
    <serverc servers="serversMinecraft"></serverc>
    <!-- /Minecraft Servers -->
    <!-- Counter Strike GO Servers -->
    <h2 class="container h1">Counter Strike Global Offensive <a href="#!" class="btn pull-right">Ver mas configuraciones</a></h2>
    <serverc servers="serversCSGO"></serverc>
    <!-- /Counter Strike GO Servers -->
    <!-- Counter Strike 1.6 Servers -->
    <h2 class="container h1">Counter Strike 1.6 <a href="#!" class="btn pull-right">Ver mas configuraciones</a></h2>
    <serverc servers="serversCS16"></serverc>
    <!-- /Counter Strike 1.6 Servers -->
  </div>

  <h2 class="container h1">¿Porque comprar con nosotros?</h2>
  <section class="youplay-features container">
    <div class="col-md-3 col-xs-12">
      <div class="feature angled-bg">
        <i class="fa fa-cc-visa"></i>
        <h3>Metodos de pago</h3>
        <small>Contamos con muchos metodos de pago para su comodidad.</small>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="feature angled-bg">
        <i class="fa fa-gamepad"></i>
        <h3>Juegos</h3>
        <small>Tenermos un amplio repertorio de servidores a su disposicion</small>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="feature angled-bg">
        <i class="fa fa-money"></i>
        <h3>Economico</h3>
        <small>Tenemos precios ampliamente competitivos</small>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="feature angled-bg">
        <i class="fa fa-question-circle "></i>
        <h3>Soporte</h3>
        <small>Soporte especializado en la materia</small>
      </div>
    </div>
  </section>



</section>
